.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
}


.footer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

img {
    height: 100px;
}

