.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
}


.footer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

img {
    height: 100px;
}

table, tr, th, td {
    border: 2px solid teal;
}

table {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    width: 500px;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 450px;
    position: relative;
    left: 43px;
    font-size: 12px;
}

option {
    padding: 0;
}

input[type="range"] {
    width: 450px;
}


